body {
  background: #e0e5ec;
}

h1 {
  position: relative;
  text-align: center;
  color: #353535;
  font-size: 50px;
  font-family: "Cormorant Garamond", serif;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 18px;
  color: #676767;
}

button {
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

/* 13 */
.btn-13 {
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  border: none;
  z-index: 1;
}

.btn-13:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}

.btn-13:hover {
  color: #fff;
}

.btn-13:hover:after {
  top: 0;
  height: 100%;
}

.btn-13:active {
  top: 2px;
}
.container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h2 {
  margin: 0 0 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.left-form, .right-form {
  flex: 1;
  min-width: 200px;
}

.info {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input[type="text"], 
input[type="number"], 
input[type="email"], 
input[type="password"], 
input[type="address"], 
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus, 
input[type="number"]:focus, 
input[type="email"]:focus, 
input[type="password"]:focus, 
input[type="address"]:focus, 
select:focus {
  border-color: #219ebc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  outline: none;
}

.custom-btn {
  background: linear-gradient(to bottom right, #4facfe, #00f2fe);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

form{
  display: flex;
  align-items: center;
  flex-direction: column;
}
  
section{
  background: linear-gradient(to bottom right, #a0c4ff 0%, #8ecae6 50%, #219ebc 100%);
}

input[type="submit"] {
  margin-top: 20px;

}
input[type="submit"].custom-btn.btn-13 {
  width: 130px;
  height: 40px;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: linear-gradient(to bottom right, #00f2fe, #4facfe);

  cursor: pointer;
  transition: background 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

input[type="submit"].custom-btn.btn-13:hover {
  background: linear-gradient(to bottom right, #89d8d3, #03c8a8);
}

input[type="submit"].custom-btn.btn-13:active {
  top: 2px;
}

input[type="submit"].custom-btn.btn-13:focus {
  border-color: #219ebc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  outline: none;
}


